// Main Colors
$red: #e90730;
$blue: #004a94;
$grey: #d9d4d5;
$dark-grey: #666666;
$black: #000000;
$white: #ffffff;
$bg-light: #f7f5f5;
$bg-dark: #131010;
$transparent: transparent;
$scrollbar-thumb: #cccccc;

// Primary
$primary-red-50: #feeef1;
$primary-red-100: #fed9e0;
$primary-red-200: #fdb8c4;
$primary-red-300: #fb889d;
$primary-red-400: #f94364;
$primary-red-500: #e90730;
$primary-red-600: #b70b2a;
$primary-red-700: #a40824;
$primary-red-800: #860b21;
$primary-red-900: #6f0f20;
$primary-red-950: #3d030d;

// Secondary
$secondary-blue-50: #e9f3ff;
$secondary-blue-100: #d1e4ff;
$secondary-blue-200: #98caff;
$secondary-blue-300: #3d9eff;
$secondary-blue-400: #0070da;
$secondary-blue-500: #004a94;
$secondary-blue-600: #00397f;
$secondary-blue-700: #002e67;
$secondary-blue-800: #00295a;
$secondary-blue-900: #042145;
$secondary-blue-950: #02142e;

// Neutrals
$neutral-grey-50: #fbfbfb;
$neutral-grey-100: #f7f5f5;
$neutral-grey-200: #f0eeef;
$neutral-grey-300: #e8e5e6;
$neutral-grey-400: #d5cfd0;
$neutral-grey-500: #d9d4d5;
$neutral-grey-600: #b9b0b2;
$neutral-grey-700: #9b8e91;
$neutral-grey-800: #84777a;
$neutral-grey-900: #72686a;
$neutral-grey-950: #3a3436;

// Status colors
$success: #3aa66c;
$error: #e84c4c;
$warning: #f5a623;
