@use "../abstracts/" as *;

.cookie-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 9998;
  opacity: 0;
  pointer-events: none;
  transition: opacity 400ms ease;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
  &.hidden {
    display: none;
  }
}

.cookie-consent,
.cookie-overlay {
  pointer-events: auto;
}

.cookie-consent {
  position: fixed;
  bottom: 24px;
  left: 24px;
  right: 24px;
  background-color: $white;
  color: $black;
  padding: 20px;
  max-width: 375px;
  z-index: 9999;
  box-shadow: 0 3.2px 6.4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  opacity: 0;
  transform: translateY(250px);
  transition: transform 600ms cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 600ms ease;
  pointer-events: none;

  &.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    transition-delay: 250ms;
  }

  &.hide {
    opacity: 0;
    transform: translateY(250px);
    pointer-events: none;
    transition-delay: 0ms;
  }

  p {
    font-size: $fontSize-14;
    font-weight: $regular-weight;
    line-height: $lineHeight-21;
    letter-spacing: $letterSpacing--005;
    margin-bottom: $spacing-xs;
    a {
      font-size: $fontSize-14;
      font-weight: $medium-weight;
      line-height: $lineHeight-21;
      letter-spacing: $letterSpacing--005;
      color: $secondary-blue-500;
      text-decoration: none;
    }
  }

  .cookie-consent__buttons {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    width: 100%;
    .small {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
