@use '../abstracts/' as *;

// Hero Headings
h1.h1-hero {
  font-size: $fontSize-58;
  line-height: $lineHeight-75;
  font-weight: $semiBold-weight;
  letter-spacing: $letterSpacing--0064;
  color: $black;
  text-align: $text-left;
  padding-bottom: $spacing-s;
  @include for-tablet() {
    font-size: $fontSize-38;
    line-height: $lineHeight-46;
    padding-bottom: $spacing-xs;
  }
  @include for-mobile() {
    font-size: $fontSize-26;
    padding-bottom: $spacing-xs;
    line-height: normal;
  }
}

// Headings
.h1 {
  font-size: $fontSize-48;
  font-weight: $semiBold-weight;
  line-height: $lineHeight-62;
  letter-spacing: $letterSpacing--0064;
  color: $black;
  @include for-tablet() {
    font-size: $fontSize-38;
    font-weight: $semiBold-weight;
    line-height: $lineHeight-46;
    letter-spacing: $letterSpacing--0064;
}
  @include for-mobile() {
      font-size: $fontSize-26;
      font-weight: $semiBold-weight;
      letter-spacing: $letterSpacing--0064;
      line-height: normal;
  }
}

.h2 {
  font-size: $fontSize-38;
  font-weight: $semiBold-weight;
  line-height: $lineHeight-46;
  letter-spacing: $letterSpacing--0064;
  color: $black;
}

.h3 {
  font-size: $fontSize-32;
  font-weight: $semiBold-weight;
  letter-spacing: $letterSpacing--0064;
  color: $black;
}

.h4 {
  font-size: $fontSize-26;
  font-weight: $semiBold-weight;
  letter-spacing: $letterSpacing--0064;
  line-height: normal;
  color: $black;
}

.h5 {
  font-size: $fontSize-20;
  font-weight: $semiBold-weight;
  letter-spacing: $letterSpacing--0064;
  color: $black;
}

.h6 {
  font-size: $fontSize-16;
  font-weight: $semiBold-weight;
  letter-spacing: $letterSpacing--0064;
  color: $black;
}
